<link rel="stylesheet" href="./css/CallUsNow.css" />

<div id="FifthComp">
  <div id="FifthComponentImgDiv"></div>

  <div id="FifthComponent">
    <h1>Call us now on +977 9845831958 to book a free assessment</h1>
    <p>
      Naya Jeevan offers treatment for all addictions, including Food
      addictions, gambling, sex & love, co-dependency, as well as drugs and
      alcohol.
    </p>
    <button>CONTACT US</button>
  </div>
</div>
<!-- <img id="FifthImg"	src="./images/cta.jpg"	alt="fifth image large full"> -->
