<link rel="stylesheet" href="./css/CallUsNow.css" />

<div id="FifthComp">
  <div id="FifthComponentImgDiv"></div>

  <div id="FifthComponent">
    <h1 lang="en">Call us now on +977 9845831958 to book a free assessment</h1>
    <h1 lang="ne">नि:शुल्क मूल्याङ्कन बुक गर्न +९७७ ९८४५८३१९५८ मा कल गर्नुहोस्।</h1>
    <p lang="en">
      Naya Jeevan offers treatment for all addictions, including Food
      addictions, gambling, sex & love, co-dependency, as well as drugs and
      alcohol.
    </p>
    <p lang="ne">
      नयाँ जीवनले खाद्य लत, जुवा, यौन र प्रेम, सह-निर्भरता, साथै लागूपदार्थ र रक्सी सहित सबै लतहरूको उपचार प्रदान गर्दछ।
    </p>
    <button lang="en">CONTACT US</button>
    <button lang="ne">सम्पर्क गर्नुहोस</button>
  </div>
</div>
<!-- <img id="FifthImg"	src="./images/cta.jpg"	alt="fifth image large full"> -->
