<link rel="stylesheet" href="./css/FirstComp.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script defer src="./js/script.js"></script>
<script defer src="./js/menu.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div id="FirstComp">
  <div id="BigMenu">
  	<div id="logo">
  		<img src="./images/lolol.png" alt="small logo"/>
  		<div id="logoText">
  			<span>NAYA</span>
  			<span>JEEVAN</span>
  		</div>
  	</div>
    
    <div class="Big-menu-tab">
    	<div class="Big-ham-no">
      	<input type="checkbox" id="toggle" class="offscreen" />
      	<label for="toggle" class="switch"></label>
      	<span>
      	  <i class="fa fa-mobile" aria-hidden="true"></i>
      	  <a lang="ne" href="”tel:9845831958″">९८४५८३१९५८</a>
      	  <a lang="en" href="”tel:9845831958″">9845831958</a>
      	</span>
    	</div>
      <nav>
          <ol><a href="/">HOME</a></ol>
          <ol id="AbLiA"><a href="/about">ABOUT US</a>
            <ul id="AbUL">
              <li><a href="/Team">Team</a></li>
              <li><a href="/Faq">FAQ</a></li>
              <li><a href="/Gallery">Gallery</a></li>
            </ul>
          </ol>
          
          <ol id="TrLiA"><a href="/treatment">TREATMENT</a>
            <ul id="TrUL">
              <li><a href="/InitialAssessment">Initial Assessment</a></li>
              <li><a href="/Detox">Detox</a></li>
              <li><a href="/TreatmentPrograms">Treatment Programs</a></li>
              <li><a href="/FamilyMeetings">Family Meetings</a></li>
            </ul>
          </ol>
          
          <ol><a href="/testimonials">TESTIMONIALS</a></ol>
          <ol><a href="/contact">CONTACT US</a></ol>
      </nav>
    </div>
  </div>
  <!-- id="BigMenu" for Big screens -->

  <!-- ******************************Small*Menu************************************ -->

  <div id="Menu">
    <!-- id="Menu" for small screens -->
    <div class="ham-no">
      <i id="ham" class="fa-solid fa-bars"></i>
      <i id="no" class="fa-solid fa-xmark"></i>
      <input type="checkbox" id="toggle" class="offscreen" />
      <label for="toggle" class="switch"></label>
      <span>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <a lang="ne" href="”tel:9845831958″">९८४५८३१९५८</a>
        <a lang="en" href="”tel:9845831958″">9845831958</a>
      </span>
    </div>
    <div class="menu-tab">
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li>
            <a href="/about">ABOUT</a>
            <div id="aV" class="arrow">o</div>
            <ul id="abul">
              <li><a href="/Team">Team</a></li>
              <li><a href="/Faq">FAQ</a></li>
              <li><a href="/Gallery">Gallery</a></li>
            </ul>
          </li>
          <li>
            <a href="/treatment">TREATMENT</a>
            <div id="tV" class="arrow">o</div>
            <ul id="trul">
              <li><a href="/InitialAssessment">Initial Assessment</a></li>
              <li><a href="/Detox">Detox</a></li>
              <li><a href="/TreatmentPrograms">Treatment Programs</a></li>
              <li><a href="/Treatment/FamilyMeetings">Family Meetings</a></li>
            </ul>
          </li>
          <li><a href="/testimonials">TESTIMONIALS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- id="Menu" for Small screens -->
  <span lang="en" class="SkyBlueHi">Freedom From Addiction</span>
  <span lang="ne" class="SkyBlueHi">नशा बाट मुक्ति</span>
</div>
