<link rel="stylesheet" href="../css/Footer.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>

<div id="Footer">
  <div id="FooterComp">
    <div class="FooterDivs">
      <ol class="kritika">
        <a href="/">HOME</a>
      </ol>
      <ol class="puskar">
        <a href="/about">ABOUT US</a>
      </ol>
      <li><a href="/About/Team">Team</a></li>
      <li><a href="/About/Faq">FAQ</a></li>
      <li><a href="/About/Gallery">Gallery</a></li>
    </div>

    <div class="FooterDivs">
      <ol class="puskar">
        <a href="/treatment">TREATMENT</a>
      </ol>
      <li><a href="/Treatment/InitialAssessment">Initial Assessment</a></li>
      <li><a href="/Treatment/Detox">Detox</a></li>
      <li><a href="/Treatment/TreatmentPrograms">Treatment Programs</a></li>
      <li><a href="/Treatment/FamilyMeetings">Family Meetings</a></li>
    </div>

    <div class="FooterDivs">
      <ol class="kritika">
        <a href="/testimonials">TESTIMONIALS</a>
      </ol>
      <ol>
        <a href="/contact">CONTACT US</a>
      </ol>
    </div>

    <div class="FooterDivs">
      <h2 class="puskar">Follow us on:</h2>
      <h3><i class="fa-brands fa-square-facebook"></i> Facebook</h3>
      <h3><i class="fa-brands fa-youtube"></i> YouTube</h3>
      <h3><i class="fa-brands fa-tiktok"></i> TikTok</h3>
    </div>
  </div>
  <!-- id=FooterComp -->

  <div id="FooterComp2">
    <div class="FooterDivs2">
      <img src="./images/lolol.png" alt="logo" />
      <div>
        <p>NAYA</p>
        <p>JEEVAN</p>
      </div>
    </div>
    <p id="puskar">
      © 2023 Naya Jeevan <br />Web Design by
      <a href="https://github.com/puskarwagle/puskarwagle"
        ><strong>Puskar wagle</strong></a
      >
    </p>
  </div>
  <!-- id=FooterComp2 -->
</div>
<!-- id=Footer -->
