<link rel="stylesheet" href="./css/OurProgram.css" />

<div id="FourthComp">
  <h1 id="OurPrograms">Our Programs</h1>

  <div id="FourthComponent">
    <div class="FourthBox">
      <p>60</p>
      <p>Day</p>
      <div class="line"></div>
      <p>
        This entry level program will give you a positive start on your road to
        recovery! It can open the doors to why you became addicted in the first
        place, and will offer you the opportunity of getting and staying well.
      </p>
      <div class="line"></div>
    </div>
    <!-- class="FourthBox" 1 -->

    <div class="FourthBox">
      <p>90</p>
      <p>Day</p>
      <div class="line"></div>
      <p>
        This entry level program will give you a positive start on your road to
        recovery! It can open the doors to why you became addicted in the first
        place, and will offer you the opportunity of getting and staying well.
      </p>
      <div class="line"></div>
    </div>
    <!-- class="FourthBox" 2 -->
  </div>
  <!-- inside comp id="FourthComponent" -->

  <button>VIEW DETAILS</button>
</div>
<!-- id="FourthComp" -->
