<link rel="stylesheet" href="./css/OurProgram.css" />

<div id="FourthComp">
  <h1 id="OurPrograms">Our Programs</h1>

  <div id="FourthComponent">
    <div class="FourthBox">
      <p lang="en">120</p>
      <p lang="ne">१२o</p>
      <p lang="en">Day</p>
      <p lang="ne">दिन</p>
      <div class="line"></div>
      <p lang="en">
        This entry level program will give you a positive start on your road to
        recovery! It can open the doors to why you became addicted in the first
        place, and will offer you the opportunity of getting and staying well.
      </p>
      <p lang="ne">
यो प्रवेश स्तर कार्यक्रमले तपाईंलाई रिकभरीको लागि तपाईंको बाटोमा सकारात्मक सुरुवात दिनेछ! यसले तपाईंलाई पहिलो स्थानमा किन दुर्व्यसनी भयो भन्ने ढोका खोल्न सक्छ, र तपाईंलाई राम्रो हुने र बस्ने अवसर प्रदान गर्नेछ।
      </p>
      <div class="line"></div>
    </div>
    <!-- class="FourthBox" 1 -->

    <div class="FourthBox">
      <p lang="en">180</p>
      <p lang="ne">१८o</p>
      <p lang="en">Day</p>
      <p lang="ne">दिन</p>
      <div class="line"></div>
      <p lang="en">
        This entry level program will give you a positive start on your road to
        recovery! It can open the doors to why you became addicted in the first
        place, and will offer you the opportunity of getting and staying well.
      </p>
      <p lang="ne">
यो प्रवेश स्तर कार्यक्रमले तपाईंलाई रिकभरीको लागि तपाईंको बाटोमा सकारात्मक सुरुवात दिनेछ! यसले तपाईंलाई पहिलो स्थानमा किन दुर्व्यसनी भयो भन्ने ढोका खोल्न सक्छ, र तपाईंलाई राम्रो हुने र बस्ने अवसर प्रदान गर्नेछ।
      </p>
      <div class="line"></div>
    </div>
    <!-- class="FourthBox" 2 -->
  </div>
  <!-- inside comp id="FourthComponent" -->

  <button lang="en">VIEW DETAILS</button>
  <button lang="ne">विवरणहरू हेर्नुहोस्</button>
</div>
<!-- id="FourthComp" -->
