<link rel="stylesheet" href="./css/OurTreatment.css" />

<h1 id="OurTreatment">Our Treatment</h1>
<div id="ThirdComp">
  <div class="ThirdComponents">
    <img id="ThirdBox1Img" src="../images/v.jfif" alt="ThirdComp 1st image" />
    <div class="ThirdBoxTexts">
      <h1>01</h1>
      <h3>Initial Assessment</h3>
      <p>
        Why not come and talk to us in person about becoming free of your
        addiction and changing your life forever? Come and meet with us at our
        treatment centre in South Terrace, Adelaide.
      </p>
      <button><a href="/InitialAssessment">READ MORE</a></button>
    </div>
  </div>

  <div class="ThirdComponents">
    <img id="ThirdBox1Img" src="../images/vv.jfif" alt="ThirdComp 1st image" />
    <div class="ThirdBoxTexts">
      <h1>02</h1>
      <h3>Detox</h3>
      <p>
        Detoxification from your substance addiction is a mandatory requirement
        for admission at Visible Recovery . We will facilitate the necessary
        provision according to your choice of drug.
      </p>
      <button><a href="/Detox">READ MORE</a></button>
    </div>
  </div>

  <div class="ThirdComponents">
    <img id="ThirdBox1Img" src="../images/vvv.jfif" alt="ThirdComp 1st image" />
    <div class="ThirdBoxTexts">
      <h1>03</h1>
      <h3>Treatment Programs</h3>
      <p>
        A solid and full program of recovery that allows you the time needed to
        change. If you do what we suggest, you will not only get clean, you will
        stay clean.
      </p>
      <button><a href="/TreatmentPrograms">READ MORE</a></button>
    </div>
  </div>

  <div class="ThirdComponents">
    <img
      id="ThirdBox1Img"
      src="../images/vvvv.jfif"
      alt="ThirdComp 1st image"
    />
    <div class="ThirdBoxTexts">
      <h1>04</h1>
      <h3>Family Meetings</h3>
      <p>
        These meetings are for the Families of the addicts, and can really help
        you to cope.<br />Bookings essential.
      </p>
      <button><a href="/FamilyMeetings">READ MORE</a></button>
    </div>
  </div>
</div>
<!-- id="ThirdComp" page -->
