<link rel="stylesheet" href="./css/SecondComp.css" />

<div id="SecondComp">
  <div id="SecondCompTexts">
    <p lang="en" id="sickTired">
      Are you sick and tired of being
      sick and tired?
    </p>
    <p lang="ne" id="sickTired">
     		के तपाई बिरामी र थकित भएर थकित हुनुहुन्छ?
    </p>
    <p lang="ne">
      सुधार सजिलो त पक्कै होइन! तर परिवर्तन अनि पुर्नस्थापनाको सुरुवात सुधार
      केन्द्र बाट भने पक्कै हो। यो तपाइले प्रयोग गर्ने मदिराजन्य पदार्थ या
      ड्रगहरुको समस्या मात्र नभई गम्भीर मानसिक र मनोबैज्ञानिक समस्याको लक्षण पनि
      हुन सक्दछ।<br /><br />
      दुर्ब्यशनीले नशा प्रयोगलाई एउटा समस्याको रूपमा होइन बरु जीवनका अन्य
      समस्याहरुको समाधानको रूपमा लिइरहेका हुन्छन् । जीवनको यथार्थ बाट भाग्ने यो
      प्रवृत्तिले नै मनिसलाई दुर्ब्यशन सम्म पुर्याउदछ।कहिले घाम कहिले पानी भनेको
      जस्तै जीवनमा सुखदुःख दुबै हुन्छन् । तर दुखको बेला आफुलाइ सम्हाल्ने(coping
      mechanisms) या सोच्ने तरिका(thought processes) मा समस्या भएको कारण जीवन
      अति पिडादायक हुन गई मानिस दुर्ब्यशनमा फस्न सक्दछ। त्यसैले ठिक सोच्ने
      तरिकाको बिकास र आफ्नो भावना माथी आफ्नो नियन्त्रणलाई पुर्नस्थापित नगरे सम्म
      सुधार असम्भव छ।
    </p>
    <p lang="en">Improvement is certainly not easy! But the beginning of change and restoration is definitely from the rehabilitation center. This may not only be a problem with your alcohol or drug use, but also a symptom of a serious mental or psychological problem.
    </br></br>
    Drug addicts do not consider drug use as a problem but as a solution to other problems in life. It is this tendency to run away from the reality of life that leads a person to drug dependency. Just like sometimes there is sunshine and sometimes rain, there are both Sadness & Happiness in life.
    </br></br>
    But due to problems in coping mechanisms or thought processes, life becomes very painful and people can fall into addiction. Therefore, improvement is impossible until you develop the right way of thinking and re-establish your control over your emotions.
    </p>
    <p lang="en" id="changeisHard">Change is hard work. Are you ready to change?</p>
    <p lang="ne" id="changeisHard">परिवर्तन कडा परिश्रम हो। तपाईं परिवर्तन गर्न तयार हुनुहुन्छ?</p>
  </div>

  <div id="SecondCompImgDiv">
    <img id="SecondCompImg" src="./images/kta.jpg" alt="naya jeevan logo" />
  </div>
</div>

<!--


 -->
