<link rel="stylesheet" href="./css/ContactComp.css">

<div id="ContactComp">
	<div id="GoogleMap">
		the google map will be here.
	</div>
	
	<div id="ContactFormDiv">
		<div id="VisibleRecovery">
			<h1 lang="en" class="grid-item">Naya Jeevan</h1>
			<p lang="en" class="grid-item">Address</p>
			<p lang="en" class="grid-item">Nawalpur<br>Sarlahi<br>Mithila Pradesh</p>
			<p lang="en" class="grid-item">Phone</p>
			<p lang="en" class="grid-item">9845831958<br>9809204113<br>9844080243</p>
			<p lang="en" class="grid-item">Email</p>
			<p lang="en" class="grid-item">support@nayajeevan.com</p>
			</br>
			<h1 lang="ne" class="grid-item">नयाँ जीवन</h1>
			<p lang="ne" class="grid-item">ठेगाना</p>
			<p lang="ne" class="grid-item">नवलपुर<br>सर्लाही<br>मिथिला प्रदेश</p>
			<p lang="ne" class="grid-item">फोन</p>
			<p lang="ne" class="grid-item">9845831958<br>9809204113<br>9844080243</p>
			<p lang="ne" class="grid-item">इमेल</p>
			<p lang="ne" class="grid-item">support@nayajeevan.com</p>
		</div>
		
		<div id="ContactFormsHo">
			<h1 lang="en">Enquiry Form</h1>
			<h1 lang="ne">सोधपुछ फारम</h1>
			<form id="ContactForm" action="https://formsubmit.co/your@email.com" method="POST">
     		<input placeholder="नाम / Name" type="text" name="nameHo" required>
     		<input placeholder="नम्बर / Number" type="tel" name="tel" required>
     		<input placeholder="इ-मेल / Email" type="email" name="email">
     		<textarea rows="10" cols="7" placeholder="सन्देश / Message" type="text" name="messageHo" required></textarea>
     		<button type="submit">जिज्ञासा / Let us know</button>
			</form>
		</div>		 <!-- Actual Form -->
	</div>	<!-- ContactForm div is this-->
</div>
