	#FifthComp{
		display:flex;
		flex-direction:column;
		align-items: center;
		border:0px solid red;
  }
  #FifthComponentImgDiv{
	  z-index:-1;
	  background-image:url("../images/cta.jpg");
	  background-size:auto 100%;
	  background-position:center;
	  background-repeat:no-repeat;
	  border:0px solid green;
	  min-height:100vh;
	  width:100%;
  }
  #FifthComponent{
	  transform:translateY(-50%);
	  display:inline-flex;
	  flex-direction: column;
	  align-items:center;
	  padding:4vw 6vw 4vw 6vw;
	  width:50%;
	  background-color:cornflowerblue;
	  color:white;
	  text-align:center;
	  border:2px solid blue;
  }
  #FifthComponent h1{
		font-size:2vw;
  }
  #FifthComponent p:nth-child(2){
	  margin:2vw 0 2vw 0;
	  font-size:1.4vw;
  }
  #FifthComponent button{
		font-size:1vw;
		letter-spacing:1.3px;
		font-weight:600;
		background:pink;
		border:none;
		border-radius:20px;
		margin-top:1rem;
		padding:0.7rem 0.5rem;
		width:40%;
		color:white;
}
  
  @media only screen and (max-width: 765px) {
	  #FifthComp{display:flex;flex-direction:column;}
	  
  }
