/* Database input form */
#database {
	display:flex;
  flex-direction:column;
  align-items:center;
}
#database #header {
	display:flex;
  flex-direction:column;
  align-items:center;
}
#database #header:th-child(3) {
	margin:-1vw 
}
#clientDetails {
  text-align:left;
  width:90%;
}
#database #dataLogo {
  width:8rem;
  position:absolute;
  left:2rem;
  top:0.5rem;
}
form#clientForm {
	border:2px groove skyblue; 
	padding:0.2vw 0 0 0;
  border-radius:10px;
  position:relative;
  box-shadow:0px 0px 1vw #ccc;
}
#clientImgDiv {
  position:absolute;
  display:flex;
  flex-direction:column;
  right:4rem;
  top:1rem;
  border:3px solid red;
}
#clientImg {
  width:8rem;
}
#clientForm #backG {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-4;
  filter:opacity(4%);
}
h3{
	font-size:2vw;
}
#clientForm input {
  margin-bottom:1rem;
  border-style: outset;
  border-radius:5px;
}
#clientForm label {
  display:inline-block;
}
#clientForm field {
  display:flex;
}
#clientForm fieldset {
  text-align:left;
  border:2px groove #ccc;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  box-shadow:0px 0px 1vw #ccc;
  margin:0 0.2vw 2vw 0.2vw;
}
fieldset label {
  width:35%;
  display:inline-block;
}
fieldset span {
  font-size:2vw;
  margin-bottom:2vw;
}
#clientDetails button{margin-left:2vw;box-shadow:0px 5px 1vw #ccc;}
#save {
  background-color:#4CAF50;
  border:none;
  color:white;
  padding:1.5vh 2vw;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.6vw;
  margin:2vh 0;
  cursor:pointer;
  border-radius:4px;
}
#cancel {
  background-color:#f44336;
  border:none;
  color:white;
  padding:1.5vh 2vw;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.6vw;
  margin:2vh 0;
  cursor:pointer;
  border-radius:4px;
}
#save:hover,
#cancel:hover {
  opacity:0.8;
}
#save:active,
#cancel:active {
  background-color:#3e8e41;
}
#cancel:active {
  background-color:#e70000;
}








/* all the database data */
#dataAllTables {
  width:95vw;
  margin:2vw 2vw;
  padding:2vw;
  background-color:#f2f2f2;
  border-radius:1vw;
  box-shadow:0px 0px 1vw #ccc;
}
#dataAllTables h1 {
  text-align:center;
  font-size:2vw;
  margin:1vh 0;
}
#dataAllTables .clientS {
  border:2px groove blue;
  border-radius:0.4vw;
  box-shadow:0px 0px 1vw #ccc;
  padding:1vh 1vw;
}
#dataAllTables .clientS b {
  font-size: 2vw;
  color:red;
  display:flex;
  margin:0 auto 0 0;
}
#dataAllTables .clientS span {
  padding:0 0 0 2vw;
  display:inline-flex;
  margin:0 0 0 auto;
}
#dataAllTables .clientS img {
  height:8vw;
  margin-left:auto;
}
#dataAllTables form {
  width:60vw;
  margin:2vw 2vw;
  padding:2vw 2vw;
  background-color:#f2f2f2;
  border-radius:1vw;
  box-shadow:0px 0px 1vw #ccc;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1vw;
 
}
#dataAllTables form fieldset{
	display:grid;
  grid-template-columns:40% 60%;
  align-items:center;
  margin-bottom:10px;
  border-radius:0.6vw;
  box-shadow:0px 0px 1vw #red;
}
#dataAllTables form fieldset:nth-child(21){
	grid-template-columns:0% 100%;
}
#dataAllTables form fieldset input{

}
#dataAllTables form  .submit-button {
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
