#TextBox{
	display:flex;
	gap:2vw;
	padding:4vw 1vw 0vw 4vw;
	border:5px solid red;
}
#TextBox #Texts h1{
	font-size:2.5vw;
	font-weight:800;
	margin-bottom:1vw;
	color:#4f5b73;
}
#TextBox #Texts {
	border:2px solid blue;
}
#SanuBox{
	height:100%;
	width:100%;
	color:#4f5b73;
	text-align:left;
	border:1px solid #4f5b73;
	border-top:5px solid #4f5b73;
	background-color:#FAF9F6;
}
#SanuBox h1{
	padding:2rem 2.5rem 1rem 1rem;
}
#SanuBox div:nth-child(2){
	width:80%;
	height:0.5px;
	background-color:#4f5b73;
	margin:0rem 1rem 1rem 1rem;
	opacity:0.5;
}
#SanuBox h3{
	margin:1rem 1rem 1rem 1rem;
	opacity:0.8;
}
#SanuBox h3:hover{
	opacity:1;
}
@media only screen and (max-width: 765px) {
	#TextBox{display:flex;flex-direction:column;}
}
