#FourthComp {
	text-align:center;
	padding:6vw 15vw 6vw 15vw;
	color:#4f5b73;
}
#OurPrograms{
	margin:0vw 0vw 6vw 0vw;
	font-size:3vw;
}
#FourthComponent {
	display:grid;
	grid-template-columns:50% 50%;
}
.FourthBox{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:0rem 0.5rem;
}
#FourthComponent .FourthBox:nth-child(1){border-right:1px solid #4f5b73;}
#FourthComponent .FourthBox:nth-child(2){border-right:0px solid #4f5b73;}
.FourthBox p:nth-child(1) { 
	font-size:6vw;
	font-weight:800;
}
.FourthBox p:nth-child(2) { 
	font-size:1.5rem;
	font-weight:800;
}
.FourthBox p:nth-child(4) { 
	font-size:1.2rem;
	line-height:1.5;
}
.line{
	width:4rem;
	height:2px;
	margin:2rem 0 2rem 0;
	background-color:red;
}
#FourthComp button{
	font-size:1.3vw;
	letter-spacing:1.3px;
	font-weight:550;
	color:white;
	background:rgb(126, 165, 238);
	border:none;
	border-radius:40px;
	margin-top:4vw;
	padding:0.8vw 0rem 0.8vw 0rem;
	width:25%;
}
@media only screen and (max-width: 765px) {
	#FourthComponent {display:flex;flex-direction:column;}
	.FourthBox p:nth-child(1) {font-size:18vw;}
	#volunteer{font-size:12vw;}
	.line{width:8rem;}
	#FourthComponent .FourthBox:nth-child(1){border-right:0px solid #4f5b73;}
	#FourthComponent .FourthBox:nth-child(2){border-right:0px solid #4f5b73;}
	#FourthComp button{margin-top:1rem;}
}
