<link rel="stylesheet" href="./css/TestimonialsTextBox.css">

<div id="TextBox">
	<div id="Texts">
		<h1>Testimonials</h1>
		
	</div>
	
	<div id="SanuBox">
		<h1>About</h1>
		<div></div>
		<h3>Team</h3>
		<h3>FAQ</h3>
		<h3>Gallery</h3>
	</div>
</div>
