<link rel="stylesheet" href="./css/TextBox.css">

<div id="TextBox">
	<div id="Texts">
		<h1>Detoxification</h1>
		<p lang="en">Detoxification from your substance addiction is a mandatory requirement for admission at Visible Recovery. We will facilitate the necessary provision according to your choice of drug. All drug or alcohol-addicted clients will require a mandatory hospital detox prior to admission to any program, no exceptions.
		
Please speak with us about your specific requirements by booking an assessment on (08) 8223 6486 at your earliest convenience<br></p>
		
		<p lang="ne">लामो समय सम्मको निरन्तर प्रयोग बाट शरीर लागु पदार्थको आदि हुदै जाने हुनाले एकै पटक प्रयोग गर्न बन्द गर्दा शरीरमा पिडा हुने, मन अशान्त हुने, भावनामा एक्कासी परिवर्तन आउने जस्ता धेरै समस्या देखिन सक्दछ। अझ, धेरै प्रयोग गर्नु हुने दुर्ब्यशनीहरु बेहोस भै ढल्ने र ज्यान नै जान सक्ने सम्म हुन सक्दछ। त्यसैले मनोचिक्त्षकको सल्लाह अनुसार औषधिहरुको प्रयोग गरि बिस्तारै दुर्ब्यशनीलाइ सामान्य अवस्था सम्म लिई आउने प्रक्रियालाइ नै डीटक्स (Detox) भनिन्छ।  <br> <br>
          सामान्य तया डीटक्स (Detox)को लागि १ देखि १५ दिन लाग्दछ भने केहि गम्भीर अवस्थाहरुमा १ महिना सम्म पनि (withdrawal) को लक्षनहरु देखिन सक्दछ। प्रयोगको मात्रा,प्रयोग गरेको पदार्थ जस्ता धेरै कुरा अनुसार (withdrawal­) को अवधि पनि फरक फरक हुँदछ। यो समय अतिनै संबेदनशील हुने हुनाले दुर्ब्यशनीलाइ चौबिसै घण्टा निगरानीमा राखिन्छ। <br></p>
	</div>
	
	<div id="SanuBox">
		<h1>Treatment</h1>
		<div></div>
		<h3>Initial Assessment</h3>
		<h3>Detox</h3>
		<h3>Treatment Programs</h3>
		<h3>Family Meetings</h3>
	</div>
</div>
