<link rel="stylesheet" href="./css/TextBox.css">

<div id="TextBox">
	<div id="Texts">
		<h1>Family Meetings</h1>
		<p>Family Meetings
This informative presentation will give you all the information you need to deal with having an addict in your family. These sessions are run by a couple of our Psychotherapy team at Visible Recovery,  Ros Brien and Oliver Rozsnay. Ros is currently studying her degree in Counselling at Tabor College. Oliver has a Masters in Psychotherapy and is registered with PACFA as a practitioner. There is a Q & A session at the end to answer all of your questions. Held on Wednesday and Thursday evenings separately,  via Zoom log in on Wednesdays with Ros Brien for folk from interstate starting at 7:00pm SA time (1 hour duration), and then on Thursday evening, a physical meeting above the Theosophical Bookshop facilitated by Oliver Rozsnay, (next door to Visible Recovery, on the first floor at 309 South Terrace Adelaide) at 6:00pm sharp for a one hour session. This service is now offered completely free of charge. This presentation is for the families of the addicts ONLY, and not the addicts themselves. Bookings are essential, please email Ros for the Zoom meeting on Wednesday, or email Oliver for the physical meeting on Thursday.

Email Ros at ros@visiblerecovery.com.au to book your free place at our next Zoom session on Wednesday evening.

<br></p>
<p>Email Oliver at oracle1@tpg.com.au to book your free place at our next physical meeting on Thursday evening.</p>
	</div>
	
	<div id="SanuBox">
		<h1>Treatment</h1>
		<div></div>
		<h3>Initial Assessment</h3>
		<h3>Detox</h3>
		<h3>Treatment Programs</h3>
		<h3>Family Meetings</h3>
	</div>
</div>
