<link rel="stylesheet" href="./css/TextBox.css">

<div id="TextBox">
	<div id="Texts">
		<h1>Initial Assessment</h1>
		<p>Why not come and talk to us in person about becoming free of your addiction and changing your life forever? Come and meet with us at our treatment centre in South Terrace, Adelaide. We will give you an initial and thorough assessment, as well as giving you a presentation on the programs we have on offer, and answer any questions that you may have. We will take you for a guided tour of our facility, and you can meet with others in treatment and see what they have to say about our service. They really are our best advertisement, and you can hear how it has been from their point of view. Whilst we are happy to discuss your admission in general terms over the telephone, we do not offer telephone assessments for admission. We will only offer a secure video assessment for admission to those people from interstate or remote areas of South Australia.

After having the initial assessment, we suggest you take some time to think about it, and research all other options available to you before you decide to commit to any of our programs. Ownership of your recovery is imperative, and we need to be sure that you have made the right choices. If you need some guidance about other services that are available for addiction treatment in Australia, we would be happy to provide you with an extensive list of contacts and numbers that might be useful.

If you then decide that you want to be admitted to one of our programs, and on acceptance of your admission from our admissions team, we will then offer a date for your detox to start at a private medical facility nearby, and also a date for treatment to commence with us. This will run back to back, and we will take and collect you from the detox facility to ensure your safety and comfort. How long you will need in detox will be assessed individually, and according to the level and type of addiction. No detox will be necessary for clients with a gambling addiction who are not addicted to other substances. All other clients will require detox as a mandatory part of our admission process.<br></p>
<p>Why not let us show you a better way of living?</p>
	</div>
	
	<div id="SanuBox">
		<h1>Treatment</h1>
		<div></div>
		<h3>Initial Assessment</h3>
		<h3>Detox</h3>
		<h3>Treatment Programs</h3>
		<h3>Family Meetings</h3>
	</div>
</div>
