<link rel="stylesheet" href="./css/treatmentPrograms.css">

<div id="TextBox">
	<div class="Texts">
		<h1>Treatment Program</h1>
		<div class="Programs">
			<img src="./images/image.jpg" alt="Programs pic">
			<h2>90 Day Program</h2>
			<p>Come and stay with us for 60 days and kick start your recovery.</p>
			<p>Whilst a 90-day program has lower ongoing outcomes of all programs we offer, it is still an affordable reliable program that will certainly start to change the way you think and act. This is an intense experience, and you will be doing 17 hours per week of therapy in house. This coupled to a mandatory 30 days outpatient program, followed by an ongoing aftercare program that includes 8 weeks of therapy after you leave could be just the thing you need to get back on your feet. Normal detoxification requirements will be adhered to for admission.</p>
			<p><b>All substance addicted clients have a mandatory detox requirement for admission – </b> please see our <a href="/Detox">Detox page</a></p>
		</div>
	
		<div class="Programs">
			<img src="./images/image.jpg" alt="Programs pic">
			<h2>120 Day Program</h2>
			<p>Come and stay with us for 120 days and kick start your recovery.</p>
			<p>Whilst a 120-day program has lower ongoing outcomes of all programs we offer, it is still an affordable reliable program that will certainly start to change the way you think and act. This is an intense experience, and you will be doing 17 hours per week of therapy in house. This coupled to a mandatory 30 days outpatient program, followed by an ongoing aftercare program that includes 8 weeks of therapy after you leave could be just the thing you need to get back on your feet. Normal detoxification requirements will be adhered to for admission.</p>
			<p><b>All substance addicted clients have a mandatory detox requirement for admission – </b> please see our <a href="/Detox">Detox page</a></p>
		</div>
		
		<div class="Programs">
			<img src="./images/image.jpg" alt="Programs pic">
			<h2>180 Day Program</h2>
			<p>Come and stay with us for 180 days and kick start your recovery.</p>
			<p>Whilst a 180-day program has lower ongoing outcomes of all programs we offer, it is still an affordable reliable program that will certainly start to change the way you think and act. This is an intense experience, and you will be doing 17 hours per week of therapy in house. This coupled to a mandatory 30 days outpatient program, followed by an ongoing aftercare program that includes 8 weeks of therapy after you leave could be just the thing you need to get back on your feet. Normal detoxification requirements will be adhered to for admission.</p>
			<p><b>All substance addicted clients have a mandatory detox requirement for admission – </b> please see our <a href="/Detox">Detox page</a></p>
		</div>
	</div>
	<div id="SanuBox">
		<h1>Treatment</h1>
		<div></div>
		<h3>Initial Assessment</h3>
		<h3>Detox</h3>
		<h3>Treatment Programs</h3>
		<h3>Family Meetings</h3>
	</div>
</div>
