<head>
  <%- include('../partials/head'); %>
</head>

<body>
<div>
	<%- include('../partials/Contact/FirstCompSml'); %>
</div>

<div>
	<%- include('../partials/Contact/ContactComp'); %>
</div>

<footer>
  <%- include('../partials/Footer'); %>
</footer>
<!-- End -->
</body>
<script src="./js/script.js"></script>
</html>
