<head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="results.css">
</head>

<body>
    <h1>Results</h1>
    <table>
        <thead>
            <tr>
                <% for (let key in results[0]) { %>
                    <th><%= key %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <% for (let key in result) { %>
                        <td><%= result[key] %></td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
