<link rel="stylesheet" href="./css/AboutTextBox.css" />

<div id="TextBox">
  <div id="Texts">
    <h1>About</h1>
    <p>
      Visible Recovery (Pty Ltd) was founded in Australia in November 2012 by
      Managing Director and founder, Simon Bowen . Simon is in his own personal
      recovery from addictions to alcohol and a raft of drugs, including
      intravenous heroin, methadone, cocaine, and crack cocaine, as well as
      ecstasy, cannabis, tobacco and prescription drugs . He contracted
      Hepatitis B in 1984 and Hepatitis C in 1987. Simon has been treated for
      his Hepatitis C successfully on a Pegalated Interferon treatment program
      whilst in the UK, and has been clean and sober continuously since 2003 .
    </p>
    <p>
      “After working in one of the largest alcohol and drug treatment facilities
      in the UK with some 300 beds nationwide, and having opened a
      rehabilitation service for another company in Australia since arriving
      back here in 2011, I decided that I needed to run my own company in this
      field to give it the attention and care that it truly deserves . I want to
      show that abstinent recovery from addiction is not only possible, but
      reality. You can have a wonderful life without the need to use or even to
      feel like using substances. I wanted to set up a company with a smaller
      and more personalised service for clients so that we could really get to
      know you and help each individual as an individual.”
    </br></br>
      All of the counselling team at Visible Recovery are experienced masters
      level psychotherapists, and most are in their own personal and abstinent
      recovery for many years, and all of our support worker team have strong
      recovery and good clean time as well . In this way, you will be dealing
      with an organisation of people that have had to do the same thing that you
      will be doing, and leading by example. They are all walking the walk, and
      not just talking the talk… .
    </br></br>
      This is a program of change. It isn’t going to be easy, but it can be done
      if you work at it one day at a time. From the day you join us, your
      recovery will be our primary focus, to empower you with the tools and
      ongoing support that you will need to get you through once you leave .
      While you are with us, there will be a raft of activities and
      complimentary therapies offered for you to get involved in to promote a
      good clean and healthy start to your recovery .
	</br></br>
	  “Some of this will be tough going. I didn’t get clean overnight. 
	  It took me a while to get feeling comfortable without resorting to old habits .
	But I simply didn’t have a choice at the end. I was either going to die or stop using. 
	Thank God I found good quality therapy and the 12 step program. It has shown me how to change my life, and stay clean and sober one day at a time.”
    </p>
	
  </div>

  <div id="SanuBox">
    <h1>About</h1>
    <div></div>
    <h3>Team</h3>
    <h3>FAQ</h3>
    <h3>Gallery</h3>
  </div>
</div>
