	<link rel="stylesheet" href="./css/FaqTextBox.css">
	<script defer src="./js/faq.js"></script>

	<div id="TextBox">
		<div id="Texts">
			<h1>FAQ</h1>
			<div class="FQ" id="fq1">
				<div id="q1" class="faqQ">
					<span class="question">Am I an addict?</span>
					<span id="angle" class="down"></span>
				</div>
				<div id="a1" class="faqA">
					<span class="answer">This is a difficult question and only you can answer it. By definition, an addict is a person who is addicted to an activity, habit, or substance. At Visible Recovery, we see addiction as a disease. It affects approximately one in ten people. It centres in the mind and affects the physical and spiritual being. It is the underlying thinking and behaviours behind any addiction that needs the most intensive treatment to enable change.</span>
				</div>
			</div>

				<div class="FQ">
					<div id="q2" class="faqQ">
						<span class="question">Am I an alcoholic</span>
						<span id="angle" class="down"></span>
					</div>
					<div id="a2" class="faqA">
						<span class="answer">2This is a difficult question and only you can answer it. By definition, an addict is a person who is addicted to an activity, habit, or substance. At Visible Recovery, we see addiction as a disease. It affects approximately one in ten people. It centres in the mind and affects the physical and spiritual being. It is the underlying thinking and behaviours behind any addiction that needs the most intensive treatment to enable change.</span>
					</div>
				</div>
			
				<div class="FQ">
					<div id="q3" class="faqQ">
						<span class="question">3Am I an alcoholic</span>
						<span id="angle" class="down"></span>
					</div>
					<div id="a3" class="faqA">
						<span class="answer">3This is a difficult question and only you can answer it. By definition, an addict is a person who is addicted to an activity, habit, or substance. At Visible Recovery, we see addiction as a disease. It affects approximately one in ten people. It centres in the mind and affects the physical and spiritual being. It is the underlying thinking and behaviours behind any addiction that needs the most intensive treatment to enable change.</span>
					</div>
				</div>
				
				<div class="FQ">
					<div id="q4" class="faqQ">
						<span class="question">4Am I an alcoholic</span>
						<span id="angle" class="down"></span>
					</div>
					<div id="a4" class="faqA">
						<span class="answer">4This is a difficult question and only you can answer it. By definition, an addict is a person who is addicted to an activity, habit, or substance. At Visible Recovery, we see addiction as a disease. It affects approximately one in ten people. It centres in the mind and affects the physical and spiritual being. It is the underlying thinking and behaviours behind any addiction that needs the most intensive treatment to enable change.</span>
					</div>
				</div>
			
				<div class="FQ">
					<div id="q5" class="faqQ">
						<span class="question">5Am I an alcoholic</span>
						<span id="angle" class="down"></span>
					</div>
					<div id="a5" class="faqA">
						<span class="answer">5This is a difficult question and only you can answer it. By definition, an addict is a person who is addicted to an activity, habit, or substance. At Visible Recovery, we see addiction as a disease. It affects approximately one in ten people. It centres in the mind and affects the physical and spiritual being. It is the underlying thinking and behaviours behind any addiction that needs the most intensive treatment to enable change.</span>
					</div>
				</div>
		</div>	
		
	<div id="SanuBox">
		<h1>About</h1>
		<div></div>
		<h3>Team</h3>
		<h3>FAQ</h3>
		<h3>Gallery</h3>
	</div>
</div>
