<link rel="stylesheet" href="./css/TeamTextBox.css">

	<div id="TextBox">
		<div id="Texts">
			<h1>Our Vision</h1>
			<p>To provide a safe, therapeutic, professional environment, in which men and women who are addicted can end their dependency, regain their health and learn to live responsible and independent lives.</p>
			
			<h1>Our Mission</h1>
			<p>Visible Recovery is dedicated to offering a 12-Step based recovery program and after care where individuals can overcome addiction, learn new coping & living skills, gain feelings of self-worth and achieve a more honest and productive life in the community.</p>
		<div class="TeamMembers">
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Bikran Raj Sapkota</span>
				<span>Chief Exeutive Officer</span>
			</div>
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Sandesh Parajuli</span>
				<span>Head Of Progeam</span>
			</div>
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Santosh Raut</span>
				<span>Program Manager</span>
			</div>
		</div>
		<div class="TeamMembers">
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Bikran Raj Sapkota</span>
				<span>Chief Exeutive Officer</span>
			</div>
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Sandesh Parajuli</span>
				<span>Head Of Progeam</span>
			</div>
			<div class="TeamImg">
				<img src="./images/babyGoat.jpg" alt="ceo">
				<span>Santosh Raut</span>
				<span>Program Manager</span>
			</div>
		</div>
	</div>
	
		
	
	<div id="SanuBox">
		<h1>About</h1>
		<div></div>
		<h3>Team</h3>
		<h3>FAQ</h3>
		<h3>Gallery</h3>
	</div>
</div>
